th {
    align-content: left;
    background: #89C1B1;
    color: white;
    padding: 0.3em;
}

#downLayerButton, #upLayerButton{
    width: 50px;
    height: 30px;
    margin-right: 0.3em;
}

select {
    margin-right: 1em;
}

#layerLabel{
    margin: 0;
    margin-right: 0.4em;
}

.layerPicker{
    align-items: center;
    display: flex;
    margin-bottom: 0.4em;
}

.changed-active{
    background-color: #ddf50be8;
}

.deleted{
    background-color: rgba(255, 0, 0, 0.25);
}

.clickable{
    cursor: pointer;
}

.table-wrapper{
    padding: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
}

td {
    border-right: none;
    border-left: none;
    padding-left: 0.3em;
    padding-right: 0.3em;
}